<div class="brev-area">
Kære Hilda 

</br></br>
Du siger, jeg har lovet dig at skrive lidt om. Hvad jeg ved om vor familie. 
Det er slet ikke ret meget og det jeg ved er mest fra faster Louise. 
Hun er vist den eneste, som har haft interesse for det. 
Hun har fortalt mig, at hun havde læst i avisen, at Villefrance i Nørresundby havde skænket døbefonten til en kirke i Århus. 
Jeg husker ikke hvilken kirke. </br>&nbsp;
Så sagde hun til farbror Frederik ”du har altså en broder der”. Det har jeg ikke sagde farbror, vi er kun tre, farbror Rasmus Peter Nielsen, Kristian Nielsen og Frederik Nielsen. Deres rigtige efternavn brugte de nødigt. Jeg ved ikke hvorfor. 
Måske fordi det lød så fremmed, måske fordi det ikke var så pæn en måde, vi var kommet ind i den fine familie på. Det har jo været værre dengang end nu.</br>&nbsp;
Faster ville have besked og skrev til præsten i den kirke som hørte til godset Lerkenfeldt, hvor hun vidste den første danske Villefrance er født. 
Jeg har desværre ikke set brevet fra præsten; men faster har fortalt mig, at en fransk adelsmand opholdt sig på Lerkenfeldt, hvor der tjente en ung pige, Anna Kirstine Nielsdatter. 
Hun fik et barn sammen med denne franske adelsmand i året 1807 eller måske seks. Denne dreng er så blevet kaldt op efter hendes far, som jo må have heddet Niels, når hun hed Nielsdatter. På den tid fik børn jo deres fars fornavn som efternavn. 
Drengen, som jo så er min bedstefar, hed Niels Villefrance, min bedstemor hed Kirsten, hun blev senere gift med en smed på Lerkenfeldt.</br> &nbsp;
Min bedstefar har, så vidt jeg ved, været gift to gange og i sit første ægteskab havde en søn, som havde et stenhuggeri i Nørresundby og slægten er der endnu.
Faster inviterede dem i Nørresundby til et besøg hos dem på Damsgård, da de var bestyrere der. Det passede vist slet ikke farbror Frederik, for jeg ved, at faster var så skuffet over, at han ikke ville køre til Odder og hente dem der. 
Faster måtte gå med en bestemt blomst, for at de kunne kende hende og så gik de på deres ben til Damsgård.</br> &nbsp;
Mor har fortalt mig, at da jeg skulle døbes, var præsten ikke tilfreds med, at jeg skulle hedde Nielsen og ikke Villefrance. 
Det syntes han ikke de kunne forsvare. Der ligger måske en stor arv til dem i Frankrig, men der var ikke noget at gøre. Da min søster Jensine så blev døbt 4 år senere, var det den samme præst og den samme snak og da gav de sig og fik vort slægtsnavn.
Da den første af børnene på Damsgård skulle døbes, sagde farbror, han skal vel hedde Niels Nielsen, men faster sagde nej. Nu har du gået med dit rigtige efternavn i lommen, nu skal vi have det frem. Han skal hedde Niels Villefrance.
Min farbrors børn i Århus har heller ikke slægtsnavnet. De hedder alle 7 Nielsen.</br> &nbsp;
Faster har fortalt mig, at slægten har tilknytning til det spanske kongehus. Om det er fra præsten, eller hvor hun har det fra, ved jeg ikke og lad os endelig ikke spekulere over det. Det er jo lige meget. 
Ville vi begynde at snakke om det, ville det bare lyde som pral.
Slægten i Frankrig er højadel, det ved vi, og så ved vi ikke ret meget mere. Er der så andre i familien, der vil granske i det, så er vi jo mange nu, som måske gerne ville ofre lidt på det.
Pastor Baden syntes vi skulle ofre lidt på det, da vi boede i Hvilsted, men da havde vi ikke råd og som jeg sagde, vi forstår jo heller ikke sproget, men det kan jo oversættes. 
Vi kan ikke, men måske pastor Baden kan. […]
</div>
