<div class="brev-area">

Kære Hilda 

</br></br>

[…] Far skrev og sagde altid, at han hed Kristian Nielsen, når ikke netop det rigtige efternavn skulle med, om det var fordi hans far var født udenfor ægteskab, ved jeg ikke, for det var en stor skam dengang. 
</br>&nbsp;Min oldemor var en ung pige på, Lerkenfeldt, og der opholdt sig en fransk adelsmand ved navn Villefrance. 
Jeg ved ikke, om der har været krig dengang, men han var noget ved hæren i København, men opholdt sig på Lerkenfeldt. 
De fik et barn sammen. Hun hed Anna Kirstine Nielsdatter. 
</br>&nbsp;Hendes far må jo have heddet Niels, for da fik børnene deres fars fornavn til efternavn. Barnet kom til at hedde Niels Villefrance. 
Det er altså min bedstefar. Jeg har aldrig set ham. Heller ikke min farmor, som hed Kirsten og var fra Beder. 
</br>&nbsp;De havde en ejendom på Skåde mark, men da bedstefar blev ene, kom han til Moesgård, som fåresjef hed det. 
De må have haft mange får og de gik løse, så ham havde en schæferhund for at hjælpe ham, at holde styr på flokken.
</br>&nbsp;Bedstefar har været gift to gange og havde en søn af første ægteskab, som var stenhugger i Nørresundby. 
Familien er der endnu og to sønner fik forretning med gravsten og to blev ingeniører. Jeg så navnet Villefrance på den, som byggede tunnelen mellem Aalborg og Nørresundby.
</br>&nbsp;Jeg ved ikke om I bryder jer om mit skriveri, men nu fandt jeg lige fars billede frem og jeg har ikke noget at bestille. 
Jeg mangler hæklegarn. Jeg kan bedst hækle. Hvis jeg strikker ret længe får jeg ondt i venstre skulder. Der har jeg jo haft knoglebetændelse. Jeg troede det var gigt som i benene. 
</br>&nbsp;Jeg har tit undret mig over, at vi har stamtavle på dyr, heste, køer, hunde og vist også svin, men ikke ret mange har deres egen stamtavle. 
Nu lever vi jo så længe, at nogle børn husker deres oldeforældre, men jeg synes, det kunne være interessant om mennesker også havde en stamtavle […] 
    
</div>