

  
   	    <div class="container">
    		<div class="row">
        		<div class="col-md-6" style ="overflow-y: auto;">
                            <div class="well" style="width: 400px; height: 600px; overflow: hidden;">
                                <form class="form-search"> 
                                        <div class="input-append">
                                                <input type="text" ng-model="search.titel" class="search-query" style="width: 150px">
                                        </div>
                                        <ul class="nav nav-pills nav-stacked">
                                          <li class="animate" ng-repeat="x in film | orderBy: 'titel' | filter: search " >
                                        <a href ng-click="visTrailer(x)">{{x.titel}} ({{x.premiereAar}})</a>
                                                </li> 
                                        </ul>
                                </form>
                            </div>
                        </div>	

                    <div class="col-md-6">
    					<div my-youtube youtubecode="youtubecode"></div>
                    
                    <div style="margin-top: 50px">   
                        <div class="col-md-8">   
                            <div class="input-group input-group-sm">
                                <input type="text" name="filmtitel" class="form-control" id="forfatter" placeholder="Filmtitel" ng-model="filmTitelModel" aria-describedby="sizing-addon3">
                                <input type="number" name="premiereaar" class="form-control" id="titel" placeholder="Premiere&aring;r" ng-model="premiereAarModel" aria-describedby="sizing-addon3">
                                <input type="text" name="instruktør" class="form-control" id="forfatter" placeholder="Instrukt&oslash;r" ng-model="instruktoerModel" aria-describedby="sizing-addon3">
                                <input type="text" name="trailer" class="form-control" id="forfatter" placeholder="Trailer" ng-model="trailerModel" aria-describedby="sizing-addon3">
                            </div>
                        </div>
                        <div class="col-md-4">   
                            <div class="input-group input-group-sm">
                                <button class="btn-default" ng-click="opretFilm()">Opret</button>
                            </div>
                            <div style="color: gray">
                                </br></br>Remote kald {{remoteTid}} 
                                </br>Lokalt kald {{lokalTid}} 
                            </div>
                        </div>

                    </div>
                    </div>
		</div>
            </div>


