<div class="folketaelling-area">


    <b>Ribe, Ribe, Ribe Købstad, Ribe Købstad, Grønne Gade 37, ,FT-1787, C4624 </b></br> 
    Fransiscus Kelter, 53, gift, Huusbonde til leye, Paruquemager</br> 
Else Marie Christensdatter, 30, Gift, Hans Koun</br> 
Ingeborg Dorthea, 10, Ugift, Kounens Datter aulet i hendis ugivte Stand</br> 
Johannes Kelter, 6, Ugift, Deris Bærn i Ægteskab</br> 
Marie Kelter, 5, Ugift, Deris Bærn i Ægteskab</br> 
Christian Kelter, 1, Ugift, Deris Bærn i Ægteskab</br> 
<u>Georg Wilerfranch, 46, Gift, Huusbonde Indqvrt.,Corporal her ved Regimentet</u></br> 
<u>Kierstine Smidt, 25, Gift, Hans Koun</u></br> 
Diderich Meyer, 23, Ugift, Indqvarterede, Tambour her ved Regimentet</br> 
Niels Christensen, 20, Ugift, Indqvarterede, Tambour her ved Regimentet</br> 
Johan Lütze Kirche, 35, Gift, Indqvarterede, Musqveter her ved Regimentet</br> 
Hans Olesen, 30, Ugift, Indqvarterede, Musqveter her ved Regimentet</br> 
Godfrid Grünau, 20, Ugift, Indqvarterede, Musqveter her ved Regimentet</br> 
Medar Gekiær, 30, Ugift, Indqvarterede, Musqveter her ved Regimentet</br> 
Johan Westerman, 40, Gift, Indqvarterede, Musqveter her ved Regimentet</br> 
Johan Fischer, 39, Gift, Huusbonde Indqvarterede, Tambour her ved Regimentet</br> 
Kirstine Bockenfeldt, 36, Gift, Hans Koun</br> 
Wilhelm Fischer, 9, Ugift, Deris Sønner</br> 
Gotfried Fischer, 2, Ugift, Deris Sønner</br> 
Hans Alsterberg, 34, Ugift, Indqvarterede, Corporal her ved Regimentet</br> 
Phillip Delmer38, Ugift, Indqvarterede, Gevorbene Soldater her ved Regimentet</br> 
Bartholomæus Møller, 39, Ugift, Indqvarterede, Gevorbene Soldater her ved Regimentet</br> 
Peter Fager, 29, Ugift, Indqvarterede, Gevorbene Soldater her ved Regimentet</br> 
Wilhelm Insel, 36, Enkemand, Indqvarterede, Gevorbene Soldater her ved Regimentet</br> 
<u>Svend Petersen, 38, Gift, Manden, Indqvartered, Gevorben Soldat og Frimand her ved Regimentet</u></br> 
Ester Magrethe Simonsdatter, 44, Gift, Hans Koun</br> </br> 

 <b>Ribe, Ribe, Ribe Købstad, Ribe Købstad, Fiskergade 7, , FT-1787, C4624 </b></br> 

<u>Johan Krug, 41, Gift, Huusbonde til leye, Comend: Sergent her ved det Riberske Regiment </u></br> 
Marie Obermeyer, 36, Gift, Hans Koun </br> 
Henriette Krug, 13, Ugift, Deris Børn </br> 
Elisabeth Krug, 10, Ugift, Deris Børn </br> 
Charles Krug, 5, Ugift, Deris Børn </br> 
Sophia Krug, 2, Ugift, Deris Børn </br> 
Sophia Six, 62, Enke, Kounens Moder </br> 
<u>Rasmus Povlsen, 45, Ugift, Indqvartered Gevorben Soldat her ved Regimentet </u></br> 
<u>Johann Phillip Kronberg, 37, Gift Huusbonde Indqvrt. Foureer her ved Regimentet </u></br> 
Wibeke Cathrine Wolhat, 30, Gift Hans Koun </br> 
Johan Henrich Marcus Kronberg, 6, Ugift, Deris Søn   </br> 
Kirstine Marie Johanne Kronberg, 3, Ugift, Deris Datter   </br> 
<u>Bendix Malmberg, 26,  Ugift, Indqvarterede Gevorbene Soldater her ved Regimentet</u> </br> 
Johan Rosenberg, 26, Ugift, Indqvarterede Gevorbene Soldater her ved Regimentet  </br> 
Bendt Augesen Holmgreen, 41, Gift, Indqvarterede Corporal her ved Regimentet  </br> 
Karen Pedersdatter Hastberg, 26, Gift,Hans Koun </br> 
Auge Peder Holmgreen, 5, Ugift, Deris Sønner   </br> 
Peder Andreas Holmgreen, 2, Ugift, Deris Sønner </br> 
Niels Hansen Slot, 27, Gift, Manden, Indqvartered Corporal her ved Regimentet  </br> 
Maren Nisdatter, 23,  Gift, Hans Koun   </br> 
Maren Nielsdatter, 5,  Ugift, Deris Børn </br> 
Hans Nielsen, 3,  Ugift, Deris Børn</br> 
</br> 


 <b>Ribe, Ribe, Ribe Købstad, Ribe Købstad, Fiskergade 4, , FT-1787, C4624</b></br> 

<u>Thomas Peter Simonsen, 39, Gift, Huusbonde Kroemand, Vogn- og Aulsmand </u></br> 
Ane Nielsdatter, 35, Gift, Hans Koun </br> 
Anne Thomasdatter, 7, Ugift, Deris Børn </br> 
Maren Thomasdatter, 5, Ugift, Deris Børn </br> 
Birthe Thomasdatter, 3, Ugift, Deris Børn </br> 
Ane Marie Thomasdatter, 1, Ugift, Deris Børn </br> 
Johanne Nielsdatter, 31, Ugift, Tienestefolk, NB. hos foranførte Familie, Tieneste Piger  </br> 
Anne Olesdatter, 21, Ugift, Tienestefolk NB. hos foranførte Familie, Tieneste Piger  </br> 
Jens Pedersen, 24, Ugift, Tienestefolk NB. hos foranførte Familie, Gaardskarl</br> 
</br> 


 <b>Ribe, Ribe, Ribe Købstad, Ribe Købstad, Korsbrødre Gaards Gade 5, , FT-1787, C4624</b></br> 

Cathrine Svendsdatter, 50, Ugift, Værtinde til leye Ernærer sig med syen  </br> 
Christiane Høhne, 10, Ugift, Hendis Syster, Datter er aulet uden Ægteskab   </br> 
Magrethe Povlsdatter, 44, Ugift, Opholdende Daglønner </br> 
Anna Magdalene Friderichsdatter, 2, Ugift, Hendis Datter uægte </br> 
<u>Hindrich Joachim Brauer, 29, Gift, Huusbonde Indqvrt. Corporal her ved Regimentet</u>  </br> 
Ana Dorthea Hansdatter, 24, Gift, Hans Koun </br> 
Margrethe Sophie Brauer, 1, Ugift, Deris Datter</br> </br> 



 <b>Ribe, Ribe, Ribe Købstad, Ribe Købstad, Sortbrøder Gade 9, , FT-1787, C4624</b></br> 

Christen Kiær, 59, Gift, Husbonde, Muurmester</br> 
Karen Michelsdatter, 59, Gift, Hans Koun</br> 
Mette Magrethe Kiær, 9, Ugift, Deris Datter</br> 
Anna Jensdatter, 50, Ugift, Opholdende, Hospitals Lem</br> 
Friederich Linde, 18, Ugift, Indqvarterede, Tambour her ved det Riberske Regiment</br> 
<u>Christen Christensen, 35, Ugift, Indqvarterede, Gevorben Soldat ved det Riberske Regiment</u>
</div>
