<div class="folketaelling-area">

<b>1834 for Holbæk amt, Ars Herred, Kalundborg landdistrikt:</b></br> 

Niels Willefrance, 21, er staldkarl ved Lerchenfeldt hovedgard, som forpagtes af comissair Carl Rothe (ca.1797-?)</br> </br> 



<b>1840 for Holbæk amt, Ars Herred, Kalundborg landdistrikt:</b></br> 

Niels Villefrance, 27, er schæffer ved Lerchenfeldt hovedgard, som forpagtes af comissair Carl Rothe (ca.1797-?)</br> </br> 



<b>1845 for Aarhus amt, Maarslet Herred, Moesgaard Hovedgaard, 1:</b></br> 

Niels Willefrance, 30, schæfer, fødested: Bredkjøbing, Holbæk.</br> </br> 



<b>1850 for Holbæk amt, Ars Herred, Kalundborg landdistrikt, Sct. Jørgensbjerg, 1, et hus, 8</b></br> 

Jens Michelsen Jacobsen, 36, fraskilt, daglejer, husfader, født i sognet.</br> 
Johanne Hansen, 38, ugift, nyder offentlig understøttelse, født i Holbæk by.</br> 
Hans Christian Villefrance, 10, hendes barn, født her i sognet.</br> 
Niels Peter Villefrance, 9, hendes barn, født her i sognet.</br> 
Jacob Jensen, 7, hendes barn, født her i Raklev sogn.</br> 
Christian Jensen, 5, hendes barn, født i sognet.</br> 
Marthe Marie Jensen, 3, hendes barn, født her i sognet.</br> </br> 
<i>Ved Christians dåb i 09.08.1845 udlægges Jens Michelsen Jacobsen som barnefader.</i></br> </br> 



<b>1860 for Aarhus amt, Ning Herred, Holme sogn:, Skaade Mark, et hus, bygningsnr.46</b></br> 

Niels Villefrance, 44, Huusf., Schæffer gift, fødested: Kallundborg</br> 
Kirsten Rasmusdatter, 35, hans kone, fødested: Maarslet i amtet</br> 
Rasmus Peter 7, deres søn, født i sognet</br> 
Christian 4, deres søn, født i sognet</br> 
Frederik 2, deres søn, født i sognet</br> </br> 



<b>1860 for Aarhus amt, Ning Herred, Maarslet, Moesgaard Hovedgaard, 122:</b></br> 

Niels Willer France Willefrance, 44, Schæfer, fødested: Brokjøb, Holbæk Amt.

</div>
