<div class="folketaelling-area">


    <b>1787 for Holbæk amt, Skippinge Herred, Holmstrup sogn, Brokjøb Bye,78</b></br> 

Niels Christiansen, 45, gift, husmand og smed</br> 
Ane Katrine Olesdatter, 41, gift, hans kone</br> 
Ane Marie Nielsdatter, 11, ugift, deres børn af andet ægteskab</br> 
Christian Nielsen, 6, ugift, deres børn af andet ægteskab</br> </br> 



<b>1801 for Holbæk amt, Skippinge Herred, Holmstrup sogn, Brokjøb Bye,8</b></br> 

Niels Kristiansen, 64, gift, mand, husmand med jord og smed</br> 
Ane Katrine Olesdatter, 41, gift, hans kone</br> 
Kristian Nielsen, 19, ugift, deres børn af andet ægteskab</br> 
Ane Jørgensdatter, 2, ugift, deres datterdatter</br> </br> 



<b>1834 for Holbæk amt, Ars Herred, Kalundborg landdistrikt, Lerchenfeldt under Kallundborg sogn, Smedehuset 29</b></br> 

Rasmus Jensen 57, gift, smed</br> 
Ane Marie Nielsdatter 56, gift, hans kone</br> </br> 



<b>1840 for Holbæk amt, Ars Herred, Raklev, Nyrup by, et hus, 71 </b></br> 

Rasmus Jensen 64, gift, smed</br> 
Ane Marie Nielsdatter 61, gift, hans kone</br> 
Christian Willefrands, 29, ugift</br> </br> 



<b>1845 for Holbæk amt, Ars Herred, Raklev, Nyrup by, et hus, 121</b></br> 

Ane Marie Nielsdatter 69, enke, har et jordløst hus, spinderske, født i Holmstrup sogn.</br> 
Christian Villa Frank, 33, ugift, hendes søn, født i Holmstrup sogn.</br> 
Jens Rasmussen, 29, daglejer, hendes søn, født i Holmstrup sogn.</br> </br> 



<b>1850 for Holbæk amt, Ars Herred, Raklev, Nyrup by, et hus, 97</b></br> 

Christian Villasranc, 37, ugift, daglejer, dyrlæge, født i Holmstrup sogn.</br> 
Ane Marie Nielsdatter 75, enke, hans moder som af ham forsørges, født i Holmstrup sogn.

</div>
