<div>
    (fra: Commissionsrulle I for 2.jyske Infanteriregiment og det første Musquetercompagnie)
</br></br>
Nr.: 4. </br>
Navne: Corporal George Willefranche</br>
Fædreland: Paris</br>
Alder: 56</br>
</br></br>

De øvrige rubrikker er ikke udfyldt.</br>
Under navnet står der måske ”syg i loco”.</br>
(S-et ligner dog ikke de øvrige s-bogstaver og der er to prikker over y-et. Det er muligt, at der er tale om et håndskrevet romertal).</br>


</br></br>

Oplysningerne stammer fra den 08.02.1798. Udenpå pakken står der 1768, 1789, 1798, 1810, 1812.</br>

Det er værd at bemærke, at G.V.s sergent fra Ribe-tiden, Johan Krig, stadig er ved det samme kompagni.</br>

Krug er ikke at finde i folketællingerne fra kongeriget for 1801, så kompagniet er muligvis i Rendsborg på dette tidspunkt.


</div>
