<div class="forskning-area">
    <h3>Den 10.07.2001</h3>
    24768 Rendsburg, 10.7.2001</br> 
Kirchenkreisarchiv	</br> 
Hindenburgstr. 26</br> 
Tel. 04331/24924</br> </br> 

An Herrn Henrik Andreassen</br> 
4440 Morkov, </br> 
Dänemark</br> </br> 

Sehr geehrter Herr Andreassen</br> </br> 

Zu ihrer Anfrage vom 27.6.2001 habe ich alle Eintragungen [posteringer] in den Tauf- [dåb] Trauungs- [vielse] u. Totenbüchern [dødebøger] der Christ- u. Garnisonskirche in Rendsburg u¨berprüft, die sich auf den gesuchten Namen beziehen. Dabei konnte ich folgendes feststellen.
</br> </br> 
1.	Trauung des Georg Villefranche mit Maria Dahmin am 11.9.1770 (s. Anlage)</br> 
2.	Taufe des Sohnes Nicolaus Detlev am 2.7.1776, geb. am. 30.1.1776 (s. Anlage)</br> 
3.	Taufe der Tochter Lucia Katharina Charlotta am 24.9.1778, geb. am. 21.9.1778 (s. Anlage)</br> 
4.	Tod der Tochter Lucia Katharina Charlotta am 11.3.1779 (s. Anlage)</br> </br> 

Hans Grützner, Archivpfleger.

Læses navnene på fadderne kan såvel N.D.V. som hans søster være opkaldt efter disse.

    <h3>September 2001</h3>
I en telefonsamtale med Jan Villefrances kone Kirsten i september 2001, oplyste Hans Grützner følgende
(jfr. e-mail pr. 07.09.2001):	</br> 	</br> 

Georg Villefranche: (Stavemåden ukendt) 	</br> 
	Født i Paris, 1741	</br> 
	Død 22.08.1799 i Rendsburg	</br> 
	Korporal i 1. Musketer kompagmi, 2. jyske regiment og 9. kompagni, slesvigske regiment.	</br> 	</br> 

Nicolaus Villefrance (Stavemåden ukendt)	</br> 
	Født. 1776	</br> 
	Død 27.04.1833	</br> 
Gift med Meta Maria Mortensdatter. Muligvis gift i Danmark? Ingen dokumentation i Rendsburg.	</br> 
Med hvem han har følgende børn:	</br> 
Nicoline Maria, Muligvis født i Danmark, ingen dokumentation i Rendsburg.	</br> 
Andreas Hans Friedrich, født 13.02.1825	</br> 
Johan Christian Peter , født 23.09.1827	</br> 
Johan Andreas, født 19.10.1833. Bemærk født efter Nicolaus død.

    <h3>Den 19.07.2002</h3>
    Rendsburg, 19.7.2002</br> 
    Kirchenkreisarchiv			</br> 
Hindenburgstr. 26</br> 
Tel. 04331/24924</br> 
Fax 04331/21302</br> </br> 

Henrik Villefrance Andreassen</br> 
Taastrup Have 42, 2th</br> 
DK - 2630 Taastrup</br> </br> 

Sehr geehrter Herr Villefrance Andreassen</br> </br> 

Zu ihrem Schreiben v.31.7.2002 teile ich Ihnen mit, dass bei der verstorbenen Tochter Lucia Katharina Charlotta im Totenbuch nur der Vater angegeben ist. Üblicherweise [sædvanligvis] ist in gleichgelagerten Fällen [i tilsvarende situationer] auch die Mutter eingetragen [indregistreret]. Offentsichtlich bestand zu diesem zeitpunkt die Ehe [ægteskabet] nicht mehr. Ehescheidungen [skilsmisser] sind in Kirchenbüchern nicht vermerkt. Auch findet sich zwischen 1778 u. 1781 keine Eintragung [postering] über den Tod von Maria Villefrance geb. Dahmin.</br> 

&nbsp;Nachkommen der 4 Kinder des Sohnes Nicolaus Villefrance konnten in den Taufbüchern zwischen 1800 u. 1899 nicht festgestellt werden. Offensichtlich ist die Familie aus Rendsburg an einen anderen Ort erzogen.</br> 

&nbsp;Ich bedaure, dass ich Ihnen in Ihren Nachforschungen leider nicht weiterhelfen kann.</br> </br> 

Mit freundlichen Grüssen</br> </br> 

Hans Grützner, Archivpfleger.


</div>
