<div class="kirkebog-area">
    <b>Holme sogns kirkebøger</b></br> </br> 

Den 10. Februar 1853: </br> Rasmus Peter Nielsen. Døbt i Kirken 6te Søndag efter Paaske søn af Shef Niels Willefrance og hustru Kirsten Rasmusdatter […]
</br> Faddere: Marie Pedersen, Moesgaard […] Knud Jensen, Skaade Mark, Niels Nielsen, Hørret, Michel Nielsen og Jens Peder Pedersen begge paa Moesgaard.
</br> </br> 
Den 3die Mai. 1856: </br> Niels Christian Villefrance. Døbt den 4.Søndag efter Trinitatis. 15 Juni […]
</br> Faddere: Jens Andersen, Hørret bar barnet […] Knud […] Hørret og Skovfoged Vind paa Moesgaard [] Tjenestekarl Anders […] paa Moesgaard.
</br> </br> 
1858. Den 23. Decbr.: </br> Frederik Nielsen Villefrance. Døbt i Kirken Søndag […] 24. Februar 1859 […]
</br> Faddere: Husmand Niels Nielsen […] Hørret, Boelsmand Rasmus […] Skaade Mark, Skovfoged Vind paa Skaade Mark […] Lorentz Skjøth og Hans Petersen fra Moesgaard.
    
</div>