<div class="kirkebog-area">

<b>Kirkebog for Holmstrup sogn i Holbæk amt:</b></br> </br> 

1777, s.4 (mikrokort 7/13): </br> 
Den 5te søndag efter Paaske. Niels Christensen Smeds Datter af Brorkjøb døbt og kaldet Ane Marie […]</br> 
(fadderne er fra Brokøb, Holmstrup og Gislinge).</br> </br> 

1792, s141 (mikrokort 9/13):</br> 
Konfirmerede: 7. Ane Marie Nielsdatter. 14 Aar hos sin Fader Niels Smed. Er god? […]</br> </br> 

1800, s.218 (mikrokort 11/13):</br> 
Døbt Ane […] Brokøb. Døbt den 09.03.1800.</br> 
Barnets far: Jørgen Madsen</br> 
Faddere: Bl.a. Niels Smed, Brokøb.</br> 
(der står også noget med død).</br> </br> 

1811, s.302 (mikrokort 12/13):</br> 
Døbt uægte Niels og Jens. Begravet [i margin]</br> 
Den 31.Marts. Døbt : Ane Marie Nielsdatter af Brorkjøbs inden Ægteskab avlede Søn Christian.</br> 
Underofficeren Villefrance som Fader anmeldt. Jyske Infanteriregiment, 19? Kompagni.</br> 
Faddere: Chr. Nielsen, Lars og Johan Hansens Kone af Brorkjøb.</br> 
Båret af Pigen Maria Jørgensdatter paa […] Cathrinebjerg […]</br> </br> 

1814, s.327 (mikrokort 12/13):</br> 
Den 24.Marts. Ane Marie Nielsdatter Søn som er født i sin Fader Niels Hus i Brorkjøb […] Inden Ægteskab avlede Tvillingesøn som 4.Marts. Jordemoderen var […] hjemmedøbt og kaldet Niels. </br>Faddere: Jens ? i Skjellingested, Jens Larsen, Hans Petersen, Mette Per Johansdatter og ? Jørgensdatter af Brorkjøb [flere navne]. </br>Samtidig er begravet anden Tvillingesøn, som fødtes 4.Marts hjemmedøbt og kaldet Jens 14 Dage af […]</br> 
Som Fader til disse Børn er anmeldt Underofficer Villefrance af 2.jyske Infanteriregiment.</br> </br> 

1816 (mikrokort 1/8):</br> 
24.Marts: Jens Rasmussen døbt den 31. Marts 1816.</br> 
Forældrenes Navn, Haandtering mv.:</br> 
Indfødte Ane Marie Nielsdatter i Brorkjøb.</br> 
Smed Rasmus Jensen i Brorkjøb.</br> 
Anmærkninger: Ægteskab den 10.December 1816.</br> </br> 

1817 (mikrokort 6/8):</br> 
Død den 27.02.1817. begravet den 09.03.1817: Niels Christensen – Husmand og Smed, Brokjøb 79 Aar</br> 
Alm. jævnførelsesregister: 593.</br> </br> 

Til ægteskabet mellem Ane Marie Nielsdatter og Rasmus Jensen skal det bemærkes, at Brokøb i 1787 havde 65 indbyggere fordelt på 15 husstande.
Blandt disse indbyggere var også Ane Marie Nielsdatters 5 år yngre lillebror. Om Mette Per Johansdatter fra dåben 1814 kan det nævnes, at hun var væverske – jfr. Niels Villefrances senere beskæftigelse med får og Ane Marie Nielsdatters senere arbejde som spinderske.

</div>
