<div class="justitsprotokol-area">
    (taget fra side 144-145 i Justitsprotokollen for 1781)</br></br> 

Actum Ripen 18 October 1781 </br></br> 

Underofficer Willefranche har i dag svoret og fået frisedlen, det er ham derfor tilladet at gifte sig med fru Christiana Hans Datter. Samtidig erklærede underofficer Willefranche til protokollen, at han, da han er katolsk, vil opdrage de børn, der avles i ægteskabet i den lutherske religion.
</br></br> 
J. Frantzen
</br></br> 
(Jacob Franzen var auditør ved riberske regiment, bosiddende i Nederdammen 18 i 1787, hvor han var 38 år gammel).
</br></br> 
Den Freizettel hat heute beschworen dem Unteroffizier Willefranche, da ihm drum erlaubt worden sich mit frau Christiana Hans Datter zu verehelichen. Gleichfals erklärte der U.O. Willefranche vor dem Protokoll, dass er, da er Katholisch, die in der Ehe zu erzeugenden Kinder in der lutherischen Religion wollen erziehen zu lassen. A.u.s.

</div>
