<div class="justitsprotokol-area">

(taget fra Justitsprotokollen for 1789)

</br></br> 
Actum Husum 6. Jun. 1789 [...]

</br></br> 
George Villefranche er altså i Husum i 1789. Her er han domsmand i en sag, hvor soldaten Peter Blomberg skal straffes efter krigs-artikel 88 i infanteri-reglementet. 
Blomberg boede i 1787 i Nørre Ports Gade 5, og var på det tidspunkt 19 år. Straffes er øjensynlig 20 slag foran vagtparaden.
I øvrigt underskriver George Villefranche under overskriften sergenterne.

</div>
