<div class="justitsprotokol-area">

(George Villefranches skriftlige forklaring jfr. kilde 3 - taget fra 225-226 i Justitsprotokollen for 1791)
</br></br> 
<h3>Dansk oversættelse</h3>
</br>

Retsligt forhør uden tilstedeværelse af George Villefranche
</br></br> 
Da jeg ser mig nødt til at forsvare en klage indsendt af min kone, fremføres i al underdanighed.
Jeg beder ærbødigst om, at dette modtages venligt. Jeg blev i maj måned dette år kommanderet til mit distrikt for at hente Nationale [soldater]. I juni kom jeg tilbage med de samme, og fandt, at min kone ikke var til stede. Jeg bemærkede straks, at det ikke var gået rigtigt til, da der manglede mange møbler, som tidligere havde været der, og som hun må have solgt.
Først spurgte jeg her og der, men fik ingen sikker information. Dog var det efter alt at dømme sådan, at hun var undveget, da hun den 2., 3. juni og endnu nogle dage, ja nu i 2 måneder ikke var kommet.
Nu er det bevist, at den afskedigede vicekorporal Stofast har taget hende med. Da denne ikke kan straffes mere, men kræver, at min bortvegne kone skal skilles fra mig for at gifte sig med Stofast, så kan dette ønske ikke indgåes, da hun allerede med sin flugt har brudt ægteskabet.
Jeg kan ikke leve mod min pligt, men jeg må kalde hende tilbage og mindst vise min egen interesse, hvad jeg kan og skal gøre.
Hun har valgt vidner, der kan udtale, hvordan jeg har behandlet hende. Hvis det er retskafne mænd, vil de sige sandheden. Jeg har som mand ret til at straffe min kone, hvis hun har forbrudt sig, og jeg har aldrig truet hende på livet, dog med øretæver, og hvis hun har fortjent det opdraget hende med slag, men for det meste har jeg passet mig selv, hvis hun var for opbrusende og skældte meget ud, og ladet hende rase ud.
Jeg beder derfor om, at De modtager dette venligt, da jeg ikke rigtig kan komme videre med det tyske sprog, og at De af dette korte stykke kan se, hvad jeg vil sige imod min kone.
Jeg er sikker på et nådigt forhør, og afventer dette med fuldkommen højagtelse.
</br></br> 
Underdanigst.
</br></br> 
Willefranche
</br></br> 
Rendsburg den 1.august 1791

</br></br> 
<h3>Originaludgave</h3>
</br>

Hochlöbiches Verhör
</br></br> 
Da ich mich genötigt sehe, eine Verantwortung gegen die vor meiner entwichenen ehelich angetrauten Frau eingeschickte Klage, in aller Untertänigkeit vorzutragen:
So bitte gehorsamt, dieses genigtest anzunehmen. Ich wurde im Mai Monat d.J. nach dem Distrikt kommandiert, um die Nationale abzuholen. Im Juni kam ich mit deinen selben zurück und fand, dass meine Frau nicht gegenwärtig war. Ich bemerkte sogleich, da vieles von den Mobilien, die da waren, fehlten, welche sie verkauft haben muss, dass es nicht richtig zugegangen ist.
Zuvor erkundigte ich mich hier und da, bekam aber nirgends sichere Nachricht. Jecoch aber war es dem Anschein angemessen, dass sie entwichem sein musste, weil sie sich den 2., 3. Juni und so einige Tage, ja nun gar 2 Monate und länger nicht einstellte.
Nun ist es sogar bewiesen, dass sie der beabschiedigte Vice Corporal Stofast mitgenommen hat; Da nun dieser nicht mehr zu bestrafen steht: sondern meine entwichene Frau von mir geschieden zu sein verlangt um den Stofast wieder zu heiraten, so kann  dieses Verlangen schlechtendings nicht eingehen, wiewohl sie die Ehe, ihrer Entweichung, selber schon gebrochen.
Ich kann meiner Pflicht nicht zu wieder leben, sondern ich muss sie zurück berufen und dann mindest mein eigenes Interesse zeigen, was ich zu tun und zu lassen habe.
Sie hat sich Zeugen erwählt, um auszusagen, wie sie von mit behandelt worden ist. Wenn es rechtschaffene Männer sind, werden sie die Wahrheit sagen. Ich, als Mann, habe das Recht meine Frau, wenn sie ein Verbreche begangen, zu bestrafen, und ich habe ihr niemals mörderlich traktiert, wohl aber Ohrfeigen, auch, wenn sie es gewiss verdient hatte, mit Schlägen gezüchtigt: doch aber bin ich die meiste Zeit, wenn sie gar zu aufbrausend war, und stark schimpfte, ihr aus demWege gegangen und habe sie ausrasen lassen.
Ich bitte demnach um Hochlöbiches Verhör, dass Sie dieses gegen eine mündliche Verantwortung, weil ich mit der deutschen Sprache nicht recht fort kommen kann, gütigst anzunehmen belieben, und aus diesem Wenigen ersehen wollen, was ich gegen meine Frau zu erwähnen habe.
Ich bin einer gnädigen Verhörung vergewissert und verharre mit vollkomner Hochachtung eines Hochlöbiches Verhör.
</br></br> 
Untertänigster
</br></br> 
Willefranche
</br></br> 
Rendsburg den 1.august 1791

</div>
