<div class="justitsprotokol-area">

(taget fra side 225-228 i Justitsprotokollen for 1791)

</br></br> 
Actum Rendsburg 11 Aug 1791

</br></br> 
<h3>Dansk oversættelse</h3>

</br>
[…] Villefranche, sergent Krug, foureren Cronberg og musketeren Christen Christensen og Ulrich Mullenberg skulle afhøres. Først fik underofficer Villefranche foretræde og fremførte på den læste rekvisition med bilag følgende:

</br></br> 
1) ad generalia </br></br> 
Georg Villefranche, født i Frankrig. Af katolsk religion. Han har været gift med Christine, født Schmidten i ca. 10 år. Han har tjent i 28 år ved regimentet. Han har aldrig været til forhør eller domstol pga. forbrydelser.

</br></br> 
2) ad Specialia et Factum </br></br> 
Underofficeren bad , i betragning af at han ikke fuldstændig magter det tyske sprog, for at kunne forklare sig tilstrækkeligt mundtligt, om også at måtte afgive sin forklaring på skrift. Dette blev ham tilladt, og sådanne Sub [den skriftlige forklaring] blev  vedlagt protokollen og læst. Herefter fik de foreslåede vidner foretræde, hvorefter hver, efter tiltale i embeds medfør skulle sige sandheden, således at det hele tiden kunne høres, hvad hver enkelt oplyste.

</br></br> 
Først opgav sergent Krug følgende:
Johann Krug, født i Hessen, 46 år gammel. Reformeret religion. Gift. Tjent i 24 år. Har aldrig været straffet, til forhør eller for retten .

</br></br> 
2) ad Specialia 

</br></br> 
1) Om deponenten vidste noget om årsagerne til, at underofficer Villefranches kone er løbet bort?
Svar: Nej. 
2) Om han så ved, at underofficer Villefranche ofte har mishandlet hende?
Svar: Nej, han har ikke mishandler hende, men givet hende ærbar tugt, og dertil havde hun selv ved sin liderlige opførsel, der var kendt nok i hele regimentet givet sin mand grund. Dimissur facta prael.. et ratik. Og fourneren Cronberg sagde.

</br></br> 
1) ad generalia </br></br> 
Johann Philip Cronberg, født i Holsten. Af luthersk religion, 49 år gammel, gift, har tjent i 22 år ved regimentet, har aldrig været til forhør eller domstol.

</br></br> 
2) ad Factum </br></br> 
Han sagde på det 2. og 3. spørgsmål til sergent Krug, at han egentlig ikke kendte årsagen til hendes skuffelse, ifølge hans viden mente han dog ikke, at hun havde haft en god mand, og mon ikke at hun ville være vred, når manden havde opdraget på hende; mishandlet hende havde Villefranche aldrig. Facta prael. et rotik. Dimissus og musketeren Christen Christensen sagde

</br></br> 
1) ad generalia </br></br> 
Christen Christensen, født i Holsten., 49 år gammel, af luthersk religion gift, har tjent i 16 år ved regimentet, og har aldrig været til forhør eller domstol.

</br></br> 
2) ad Factum </br></br> 
Han er enig med sergent Krug og fourneren Cronberg på alle punkter. Facta prael. et rotik. Dimissus og forelæst musketeren Mallenberg sagde

</br></br> 
1) ad generalia </br></br> 
Bendix Mallenberg, 31 år gammel, født i Sverige., luthersk religion gift, har tjent i 11½ år, har aldrig været til forhør eller domstol.

</br></br> 
2) ad Factum </br></br> 
Han havde aldrig set, at underofficer Villefranche havde gjort begge disse ting, hvorfor hun er undveget ved han heller ikke. I øvrigt havde konen [i] Villefranche ikke haft en god mand, men begrundelserne herfor kunne han ikke vurdere.

</br></br> 
<h3>Originaludgave</h3>

</br>
[…] Villefranche, der Sergeant Krug, der Fourier Cronberg, und der Musketier Christen Christensen und Ulrich Mullenbergsollten vernommen werden. Zuerst wurde der Unterofficer Villefranche vorgelassen und zugab auf die verlesene Requisition mit Beilage folgendes:

</br></br> 
1) ad generalia </br></br> 
Georg Villefranche, aus Frankreich gebürtig, katolischer Religion, er sei mit Christine, gebohrene Schmidten ungefähr 10 Jahre verheirahtet, er diene 28 Jahre beim Regiment, ist Vergehungen wegen nie vor Verhör und Gericht gewesen.

</br></br> 
2) ad Specialia et Factum </br></br> 
Der Unteroffizier bat in Betracht, dass, da er der deutschen Sprache nicht so vollkommen mächtig, um sich gehörig mündlich zu explizieren, schriftlich seine Erklärung eingeben dürfte. Dieses wurde ihm erlaubt und solche Sub dem Protokoll beigelegt und verlesen. Hiernächst wurde die vorgeschlagenen Zeugen vorgelassen, worauf dann jeder, auf amtliches zureden die Wahrheit zu sagen, so wie seines jederzeit endlich erhörten könnten, einzeln folgendes deponierte. Zuerst der Foursier Sergeant Krug er ergab.

</br></br> 
Johann Krug, aus Hessen gebürtig, 46 Jahre alt, reformierte Religion, verheiratet, diene 24 Jahre, er ist nie wegen Vergehen vor Verhör und Gericht gewesen.
</br></br> 2) ad Specialia 

</br></br> 
1) Ob Deponent etwas davon wisse, aus wellchen Gründen die Frau des Unteroffizier Villefranche von ihm entwichen?
Resp: Nein. 
2) Ob er dann wisse , dass der Unteroffizier Villefranche sie öfters gemieshandelt?
Resp: Er habe sie nie gemieshandelt, wohl aber gezüchtigt, und darauf hätte sie selbst durch ihre liederliche Aufführung dem Mann Ursache gegeben, von solcher ihn im ganzen Regiment bekannt genug wäre. Dimissur facta prael. et ratik und vorgelassen der Fournier Cronberg er vorgab.

</br></br> 
1) ad Generalia </br></br> 
Johann Philip Cronberg, Holstein gebürtig, lutherische Religion, 49 Jahre alt, verheiratet, er diene 22 Jahre, ist nie wegen Vergehen vor Verhör und Gericht gewesen.

</br></br> 
2) ad Factum </br></br> 
Er erwiederte auf die 1. und 2. Frage an den Sergeant Krug, dass er die Ursache ihrer Enttäuschung zwar eigenlich nicht wüsste, jedoch habe seines Wissens sie keinen guten Mann gehabt und m’ochte sie es vohl verstimmt haben, wenn der Man sie gezüchtigt; gemieshandelt aber Villefranche sie niemals. Facta prael.. et  rotik. Dimissus und der Musketier Christen Christensen er vorgab.

</br></br> 
1) ad Generalia </br></br> 
Christen Christensen, aus Holstein gebürtig, 49 Jahre alt, lutherische Religion, er diene 16 Jahre beim Regiment, ist nie vor Verhör und Gericht gewesen.

</br></br> 
2) ad Factum </br></br> 
Er stimmt in allen Stücken mit dem Sergeant Krug und dem Fournier Cronberg überein. Fact. Prael. et ratik. Dimissur und vorgelassen dem Musketier Mallenberg er vorgab.

</br></br> 
1) ad Generalia </br></br> 
Bendiz Mallenberg, 31 Jahre alt, aus Schweden gebürtig, lutherischer Religion, er diene 11½ Jahr, ist nie vor Verhör und Gericht gewesen.

</br></br> 
2) ad Factum </br></br> 
Er habe nie gesehen, dass der Unteroffizier Villefranche seine Frau beides getan, warum sie entweichen, wüsste er gleichfalls nicht. Übrigens habe die Villefranche keinen guten Mann gehabt in wiefern aber solcher gegründet, könne er nicht beurteilen.


</div>
