<div class="justitsprotokol-area">
(taget fra side 425-426 i Justitsprotokollen for 1784)
</br></br> 
Actum Ripen 14 August 1784
</br></br> 
På befaling af oberst von Lützow blev i dag sub. prae. efforibus. subscriptis startet et regimentskrigsforhør over monsg. Hans Jürgen Donath fra 9.kompagni, som var udeblevet efter en ferie. Han fik foretræde og blev opfordret til at tilstå sandheden og deponerede følgende:
</br></br> 
1) ad Generalia </br>   
Hans Jürgen Donath, 52 år gammel, født i Eutin [i det østlige Holsten], luthersk religion, har tjent 19 år ved regimentet. Har svoret til flaget og er bekendt med krigshandlingerne.
</br></br> 
2) ad Specialia </br>   
Han måtte tilstå, at han efter ferien var udeblevet, men kunne dog til sin undskyldning anføre, at hans kone havde været elendig syg, hvilket havde kostet meget, og han havde ikke kunnet gøre foranstaltninger til at skaffe rejsepenge. Forvalteren på godset i Eutin, hvor han var på ferie, havde skrevet til Kaptajn von Leonhardt og undskyldt, at han dette år ikke rigtigt kunne komme til eksercitsen. Kaptajn von Leonhardt havde dog svaret, at han ville præsentere dette for regimentet, og at han skulle komme ind efter ferien. Deponenten havde ikke kunnet dette af de ovenfor anførte grunde, og han bad om, at han, i betragtning af 19 års trofast og ærlig tjeneste, måtte få en nådig straf. Hans omkostninger på 7 dukater blev selv lagt ad acta. Dimissur qu coni et subscriptum.
</br></br> 
A.u.s. 	Bachoff, Murarius, Schmidt
</br></br> 
[Der henvises til retningslinie af 18.11.1763 samt til infanteri-reglementet. Domsmændene, Friedrichson, Bertelsen, korporal Blomquist og korporal Ferdinand mener, at Donath skal være fri for straf, men betale omkostningerne på 7 dukater. <b>George Villefranche</b> og Schmidt er enige, men mener, at Donath skal i fængsel ved vand og dobbelt ration brød, hvilket altså er en skærpelse. Begge de sidstnævnte skriver under som sergenter?]
</br></br> 
Actum Ripen 14 August 1784
</br></br> 
Aus Befehl des Herrn Oberst von Lützow wurde heute sub. prae. efforibus. subscriptis über den Monsg. Hans Jürgen Donath von 9.Comp., welcher über Urlaub ausgeblieben, ein Regiment-Kriegs-Verhör angeordnet. Er wurde vorgelassen zum Geständnis der Wahrheit aufgefordert und deponierte folgendermassen:
</br></br> 
1) ad Generalia</br>
Hans Jürgen Donath, 52 Jahre alt, aus Eutin gebürtig, lutherische Religion, er diene 19 Jahre beim Regimentet, hat zur Fahne geschworen und die Kriegs-Actions sind ihm bekannt gewesen.
</br></br> 
2) ad Specialia</br>
Er müsse nur eingestehen, dass er über Urlaub ausgeblieben, könne aber zu seiner Entschuldigung anführen, dass seine Frau sehr elendig krank gewesen, welches ihn viel gekostet und er hatte keine Anstalten zu Reisegeld machen können. Der Vervalter auf dem Gute bei Eutin, woselbst er beurlaubt gewesen, hatte an Kapitän von Leonhardt geschrieben und ihn entschuldigt, dass er dieses Jahr nicht recht wohl zum exercieren einkommen könne, der Kapitän von Leonhardt aber hatte geantwortet, dass er die Sache dem Regiment vorgestellt, und dass er vom Urlaub einkommen sollte. Deponent hatte solches aus obenangefürhten Gründen nicht gekonnt und bate in Betracht, dass er 19 Jahre treu und redlich gedienet, um gnädige Strafe. Seine Kosten-Rechnung von 7 Dukaten wurde selbst ad acta gelegt. Dimissur qu coni et subscriptum.
</br></br> 
A.u.s. 	Bachoff, Murarius, Schmidt


</div>
