<div>
    <nav class="navbar" role="navigation">
    <ul class="nav navbar-nav">
        <li><a data-ui-sref="villefranche.kilder.justitsprotokoller.jp1781a">Friseddel</a></li>
        <li><a data-ui-sref="villefranche.kilder.justitsprotokoller.jp1784a">Domsmand 1784</a></li>
        <li><a data-ui-sref="villefranche.kilder.justitsprotokoller.jp1784b">Hvervningsforsøg</a></li>
        <li><a data-ui-sref="villefranche.kilder.justitsprotokoller.jp1789a">Domsmand 1789</a></li>
        <li><a data-ui-sref="villefranche.kilder.justitsprotokoller.jp1791a">Hustruvold - anklage</a></li>
        <li><a data-ui-sref="villefranche.kilder.justitsprotokoller.jp1791b">Hustruvold - forsvar</a></li>
        <li><a data-ui-sref="villefranche.kilder.justitsprotokoller.jp1808a">Vådedrab</a></li>
    </ul>
    </nav>
</div>

<div class="container">
    <div data-ui-view>
        <div ng-include="omjustitsprotokoller"></div>
    </div>
</div>
