<div class="kirkebog-area">

    <b>Kirkebog for Kalundborg sogn, Holbæk amt </b></br> </br> (mikrokort 4/9):</br> </br> 
Konfirmerede 1. Søndag efter Paaske 1831:</br> 
14. Niels Willefrance.</br> 
Forældre: Underofficer Willefrance og Anne Marie Nielsdatter nu gift med Smed Rasmus Jensen paa Lerchenfeldt.</br> 
Født d. 4.Marts 1814</br> 
Dom ang. Kundskab: ganske l- god. Opførsel: ofte m. god.</br> 
Vaccineret d.18. August 1819 af Voigt.
</br> </br> 
(mikrokort 2/10)</br> </br> 
Født den 10.04.1840: Hans Christian Villefrance, døbt i kirken den 20.04.</br> 
Forældre: ugift fruentimmer Johanne Hansen og udlagt som barnefader: Niels Villefrance, schæffer på Lerchenfeldt</br> 
(fadderne er fra Kalundborg).</br> 
Anm.: Ej indgået ægteskab.
</br> </br> 
Født den 15.08.1841: Niels Peter Villefrance, døbt i kirken den 12.09.</br> 
Forældre: ugift fruentimmer Johanne Hansen og udlagt som barnefader: Niels Villefrance, schæffer på Lerchenfeldt</br> 
(fadderne er fra Kalundborg).</br> 
Anm.: Barnefaderen rejste fra Lerchenfeldt i august. Derefter til Mosegaard i Aarhus stift.

    
    
</div>