    <div class="row" style="margin-top: 50px;">

        <div class="col-md-2">
            <div class="btn-group-vertical" >
                <a data-ui-sref=".breve" class="btn btn-default">Breve</a>
                <a data-ui-sref=".folketaellinger" class="btn btn-default">Folketællinger</a>
                <a data-ui-sref=".forskning" class="btn btn-default">Forskning</a>
                <a data-ui-sref=".justitsprotokoller" class="btn btn-default">Justitsprotokoller</a>
                <a data-ui-sref=".kirkeboeger" class="btn btn-default">Kirkebøger</a>
                <a data-ui-sref=".skifteprotokoller" class="btn btn-default">Skifteprotokoller</a>
                <a data-ui-sref=".stamboeger" class="btn btn-default">Stambøger</a>
            </div>
        </div>

        <div class="col-md-10">
            <div data-ui-view>
                Kilder er en mangeartet samling af data indsamlet fra private, internettet samt Rigsarkivet og andre arkiver.
            </div>  
        </div>
    </div>
