<div>
    <h2>Litteratur</h2>
    </br>
   
Brunnes, Johan Victor (1919): Den franske Gæstgiver paa Bispensgade i Aalborg. Udgivet af A. Tuxen i Vor Fortid. Tidsskrift for dansk Kulturhistorie, 3.Årg., s.161-185.
</br></br>
Gamrath, Helge m.fl. (2009). Nordjylland under Englandskrigen 1807-1814. Aalborg.
</br></br>
Koefoed, Nina Javette (2008): Besovede kvindfolk og ukærlige barnefædre. Køn, ret og sædelighed i 1700-tallets Danmark. Kbh.
</br></br>
Krogh, Tyge m.fl. (1985): Kalundborgs historie. Bind 1. Kalundborg
</br></br>
Norrie, Gordon (1960): Felttoget i Mecklenburg. I Historisk Tidsskrift, bind 11. Række 6 (1960-62). 1., Kbh.
</br></br>
Petersen, Karsten Skjold (2001): Kontakt og konflikter. Relationer mellem det civile samfund og den hvervede hær i 1700-tallet. On line publikation på http://aarhus2001.hum.au.dk/rundborde/rundbord1paper2.html.
</br></br>
Petersen, Karsten Skjold (2002): Geworbne krigskarle. Hvervede soldater i Danmark 1774-1803. Kbh.
</br></br>
Petersen, Karsten Skjold (2005a): Otte år i Danmark. En hvervet tysk soldats erindringer 1783-1791. Kbh.
</br></br>
Petersen, Karsten Skjold (2005b): Den danske hærs uniformer i 1700-tallet. Kbh.
</br></br>
Tidemand, Nikolaj (1881): Oberst Nikolaj Tidemands Optegnelser om sit Liv og sin Samtid i Norge og Danmark 1766-1828. udgivet af C.J. Anker, Kristiania.
</br></br>
Vaupell, Otto (1876): Den danske Hærs Historie til Nutiden og den norske Hærs historie indtil 1814, 2.del. Kbh.

</div>
