<div class="kirkebog-area">

   <b> Århus amt, Mårslet sogn: </b></br> </br> 
    Vielsesdato: 12.October 1852:</br> </br> 
Brudgom: Ungkarl Niels Villefrance, Søn af Ane Marie Nielsdatter, gift med en Smed paa Lerchenfeldt ved Callunborg, 38½ Aar gl., tjener som Schæfer paa Moesgaard.</br> 
Brud: Pigen Kirsten Rasmusdat., en Datter af nu afdøde Skovfoged Rasmus Pedersen af Moesgaard, 27 Aar gl., tjener Gmd. Jens Andersen i Hørret.</br> </br> 
Forlovere: Peder Laursen, Smed her i Maarslet, Christian Jensen, Gmd. i Maarslet.</br> 
Trolovelsesdag:</br> 
Vielsesdag: 12te October.</br> </br> 
Arkiv: C 371-4 Folie: 288

    
    
</div>