<div class="forskning-area">
Jfr. e-mail af 26.09.2002 har Jan Villefrance henvendt sig til slægtsforskeren Jérôme Malhache fra genealogie familiale France. 
</br></br>
J.M . fremfører følgende:</br> </br>

1)	Der er ingen Georges Villefranche i arkiverne fra Archives Nationales.</br>
2)	De Villefranche-familien fra de militære arkiver har ikke forbindelse med Georges.</br>
3)	Der findes en parisisk Villefranche-familie, men denne familie levede i midten af 1800-tallet. Alle fødsels-, vielses- og dødsregistre blev ødelagt i 1871.</br> </br>
Sluttelig henviser J.M. til den tyske periode og peger specielt på militære papirer samt vielsesattesten.


</div>
