<div>
    (fra: mikrofilm 12277)</br></br>

    Jeg har fundet endnu et par angivelser af navnet Nicolai Willefrance på mikrofilm 12277. </br>
I den første af disse angivelser står der 2.jyske infanteriregiment ,Wiborg og måske står der også session.    </br> 
Længere nede står der 7. Corp. Nicolai Willefrance samt årstallet 1811. </br> 
Endelig står der nederst vistnok Haraldinkingård 22.06.1814 samt en underskrift. </br> 
Jeg har dog ikke været i stand til at finde en lokalitet med dette eller et lignende navn. </br> 
I den anden angivelse står der også Wiborg og 1811 samt Corporal Nicolai Willefrance. </br> 
Derudover er der angivet nr.142, løbenr.85 samt tallet 4 og (lidt hævet) tallet 5. </br> 
Endelig er der nederst en underskrift af en vis Nis Fridrikshede.

</div>
