<div>
    (fra: Stambogen – mikrofilm 12277, 1792, s.40)
</br></br>
Udtagningsliste for det første Musqueter Compagnier
</br></br>
Navne: 1. Musqt. Nicolai Detlef Willefranche</br>
Fædreland: Rendsborg</br>
Alder: 16</br>
[måske står der: om han har stået ud i vor tieneste – dertil svares nej]</br>
[måske står der: om han har stået ud i fremmed tieneste – dertil svares nej]</br>
Religion: Luth.</br>
Datum og Tid af Capitulation: Den 28.October 1791 paa 10 Aar</br>
[måske står der: om hans forældre endnu lever – dertil svares ja].</br></br>

Dateringen er herefter: Rendsborg den 18.April 1792.</br>
Nederst er der underskrevet med et navn – måske Fahrrland.</br> </br>

Bemærk: tolkningen af rubrikkernes overskrifter er gjort ud fra tidens standarder for disse.

</div>
