<div class="forskning-area">
    En del forskere har været kontaktet gennem tiden for at bringe lys over slægtshistorien.</br> </br>
Susan Villefrance (kusine til Jette Marie Villefrance Andreassen) har i 1986 henvendt sig til slægtsforskeren Bo Johansen, som skriver tilbage fra adressen St. Strandstræde 4, 1. 1255 København K. 
Udover en opregning af manglende resultater, skriver han følgende:</br> </br>

<i>[…] Hvor i Frankrig slægten stammer fra er også svært at sige. Det er ikke givet, at der er tale om en adelsslægt; slægtsnavnet er ikke naturaliseret som dansk adel. Der findes mindst 15 byer i Frankrig, der hedder Villefranche – slægten kan have taget navn efter en af disse. Imidlertid findes en fransk uradelsslægt med navnet ”de Tulle de Villefranche” med tilknytning til Piémont, Comtat-Venaissin (Avignon) og Bourgogne. […]</i>
</br> </br>
Et andet forholdsvis resultatløst forsøg er en mail-korrespondence mellem Henrik Villefrance Andreassen og Finn Egeris Petersen, præst ved den danske kirke i Paris i oktober 2001.
</br> </br>
De eksempler på forskning, der bringes her, indeholder alle data, som gør os klogere på historien om de første generationer af slægten Villefranche.

</div>
