<div class="forskning-area">
(mail afsendt den 02.06.2003 fra Karsten Skjold Petersen, museumsinspektør på Tøjhusmuseet)
		</br></br>
					J.nr. 059.17.12.742</br></br>

Hej Henrik</br></br>

Det glæder mig selvsagt, at du har haft nytte af min bog. Jeg kan ikke huske at være stødt på navnet Villefrance i forbindelse med mit arbejde.
At han var fransk og katolik var ikke så usædvanligt endda. Prøv f.eks. at se, Johan Victor Brunnes’ erindringer i min fortegnelse over trykte kilder. Her kan du se én måde, hvorpå man kunne ende i Danmark, ellers er det bare fantasien, der sætter grænser.
At han blev hvervet 1762 lyder meget sandsynligt, idet den danske hær mobiliserede ved udsigten til krig med Rusland. Dette betød også, at hvervningen blev drevet videre end ellers, både m.h.t. antal, håndpenge og hvervesteder.
</br>&nbsp;Jeg kan ikke huske, om der i Departementet for udenlandske anliggender er ældre materiale end det, jeg anvendte. Du må selv kigge efter i registraturen. Tilsvarende ved jeg ikke hvad der findes af materiale før 1774 i 9. Bataillons arkiv. Generelt er vi dog nede i den kildefattige periode af danmarkshistorien. Hvis der findes en stambog eller en af- og tilgangsprotokol fra tiden omkring 1762 vil du være heldig.
</br>&nbsp;Hvad angår sønnen Nicolai, kan du have stor glæde af de just nævnte kilder, hvis de findes for hans periode. Egentlige underofficersskoler fandtes endnu ikke ved infanteriet. Man hvervede fortrinsvis folk med de rette kvalifikationer, så man undgik at bekoste en uddannelse af dem. Kravene var, at de skulle kunne regne samt tale og skrive tysk og dansk. Var der mangel på egnede kandidater måtte man naturligvis slække på kravene. Hvis George i sin tid virkelig var skrap til regning, kunne man se gennem fingre med, at hans dansk måske var elendigt o.s.v.
Fortsat held og lykke med jeres store slægtsprojekt.
</br></br>
Med venlig hilsen</br>
Karsten Skjold Petersen</br>
Museumsinspektør

</div>
