*{
font-family: 'Open Sans', sans-serif;
}
.center-grey{
       background:#f2f2f2;
}
.slider{
	position: relative;
	padding:5px;
	width:610px;
	margin: auto;
	margin-top: 40px;
}
.slide{
	position:absolute;
	top:0;
	left:0;
	box-shadow: 0px 0px 15px #999;
}

h1{
text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	color: #000000;
	opacity: 0.5;
	font: 60px 'Museo700';
}
 
.slide.ng-hide-add, .slide.ng-hide-remove {
  -webkit-transition:all linear 0.5s;
  -moz-transition:all linear 0.5s;
  -o-transition:all linear 0.5s;
  transition:all linear 0.5s;
  display:block!important;
}
 
.slide.ng-hide-add.ng-hide-add-active,.slide.ng-hide-remove {
  opacity:0;
}
 
.slide.ng-hide-add,.slide.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.css-class-add, .css-class-remove {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.css-class,
.css-class-add.css-class-add-active {
  color: red;
  font-size:3em;
}

.css-class-remove.css-class-remove-active {
  font-size:1.0em;
  color:black;
}

.animate-enter, 
.animate-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
 
.animate-enter.animate-enter-active, 
.animate-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
 
.animate-leave.animate-leave-active,
.animate-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}

.animate.ng-enter, 
.animate.ng-leave
{ 
	-webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}

.animate.ng-enter.ng-enter-active, 
.animate.ng-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}
	
.navbar { border-radius:0; }


.text-area {
    height: 400px;
    width: 560px;
}

.brev-area {
    width: 900px;
}

.justitsprotokol-area {
    width: 900px;
}

.forskning-area {
    width: 900px;
}

.kirkebog-area {
    width: 900px;
}

.folketaelling-area {
    width: 900px;
}

.text-area-shadow{
    box-shadow: 0 0 10px 10px black;   
}

.my-switch-container {
  position:relative;
  height:5000px;
}

.my-switch-animation.ng-enter,
.my-switch-animation.ng-leave {
  -webkit-transition:2s linear all;
  transition:2s linear all;
  height:500px;

  position:absolute;
  top:0;
  left:0;
  right:0;
}

.my-switch-animation.ng-enter {
  left:100%;
}

.my-switch-animation.ng-leave,
.my-switch-animation.ng-enter.ng-enter-active {
  left:0;
}

.my-switch-animation.ng-leave.ng-leave-active {
  left:-100%;
}


